<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{{#if head.title}}{{head.title}}{{else}}Sovereign — Reclaim your digital freedom{{/if}}</title>
{{#head.link}}
<link rel="{{rel}}" href="{{href}}" />
{{/head.link}}
{{#head.meta}}
{{#name}}<meta name="{{.}}" content="{{../content}}" />{{/name}}{{#property}}<meta property="{{.}}" content="{{../content}}" />{{/property}}
{{/head.meta}}
<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
<link rel="stylesheet" href="/css/global.css" />
